<!--
  Generated template for the AccountCenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>The personal data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item (click)="updateAvatar()">
      <ion-thumbnail item-start>
        <img src="{{userData.userAvatar}}">
      </ion-thumbnail>
      <h2>The avatars</h2>
      <button ion-button clear item-end icon-only>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item (click)="goUpdateCareerNameIndustry('Nickname')">
      Nickname
      <span item-end style="color:#999;font-size: 14px">{{userData.nickName}}</span>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="updateGender()">
      Gender
      <span item-end style="color:#999;font-size: 14px" *ngIf="userData.sex == 0">female</span>
      <span item-end style="color:#999;font-size: 14px" *ngIf="userData.sex == 1">male</span>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="goUpdateCareerNameIndustry('Industry')">
      Industry
      <span item-end style="color:#999;font-size: 14px">{{userData.userIndustry}}</span>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="goUpdateCareerNameIndustry('Career')">
      Career
      <span item-end style="color:#999;font-size: 14px">{{userData.userCareer}}</span>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="updateCountry()">
      Area
      <span item-end style="color:#999;font-size: 14px">{{userData.country}}</span>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>

</ion-content>
