page-select-publisher {
  ion-content.content-md{
    background-color: rgba(0,0,0,0.6);
  }
  .wrap{
    max-height: 25.2rem;
    width: 100%;
    background-color: #ffffff;
    padding: 6rem 3rem 3rem 3rem;
    position: absolute;
    bottom: 0;
  }
  .wrap ul{
    list-style: none;
    display: flex;
    margin: 0;padding: 0;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .wrap li{
    list-style: none;
    width: 7.8rem;height: 7.8rem;
    border-radius: 100%;
    margin: 0;padding: 0;
  }
  .wrap li a{
    display: block;
    width: 100%;height: 100%;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 7.8rem;
    position: relative;
  }
  .wrap li:first-child a{
    background: #D37FFA;
    box-shadow: 0 2px 8px 0 rgba(177,9,234,0.20);
  }
  .wrap li:nth-child(2) a{
    background: #5CABFF;
    box-shadow: 0 2px 8px 0 rgba(38,121,223,0.20);
  }
  .wrap li:nth-child(3) a{
    background: #FF688E;
    box-shadow: 0 2px 8px 0 rgba(237,23,74,0.20);
  }
  .wrap li a img{
    position: absolute;
    top:0;left: 0;bottom: 0;right: 0;
    margin: auto;
  }
  #close{
    background-color: #ffffff;
    color: #333333;
    box-shadow: none;
    font-size: 2.5rem;
    margin-top: 5rem;
  }
}
