page-home {
  .scroll-content{
    background-color: #f5f5f5;
  }
  ion-content.has-refresher > .scroll-content{
    background-color: #f5f5f5;
  }

  .card-md{
    box-shadow: none;
  }
  .card-md .item-md{
    padding-left: 0;
  }
  .card-md{
    margin: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 12px;
    background-color: #ffffff;
  }
  .toolbar-title-md{
    padding: 0;
    font-size: 1.6rem;
    color: #000000;
    font-weight: 700;
  }
  .button-inner img{
    width: 1.2rem;height: 1.2rem;
    margin-right: 0.3em;

  }
  .button-clear-md{
    color: #b3b3b3;
  }
  .focusNum{
    margin-top: 3px;
  }
  .card-content-md{
    padding: 13px 0;
  }
  ion-card .col{
    padding: 5px 0;
  }
  ion-card .col.active{
    margin-right: 5px;
  }
  .button-clear-md{
    padding: 0;margin: 0;
  }
  .videoThumbnail{
    position: relative;
  }
  .videoThumbnail img.play{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
